.container-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-width: 300px;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 5px;
}

.btn-delete {
  cursor: pointer;
  height: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
