:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  display: inline;
}
a {
  color: #080808;
  text-decoration: none;
}

button {
  display: block;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #ed2828;
  cursor: pointer;
  transition: 100ms;
}
button:hover,
button:focus {
  background-color: #ff5858;
}

button:active {
  background-color: #ed2828;
}
